body {
  margin: 0;
}


.block_small_middle {
  background: #00b050;
  color: black;
  text-align: center;
  border: 1px solid black;
  width: 90px;
  height: 60px;
  top: 210px;
  left: 680px;
  position: absolute;
  z-index: 1;
}

.block_small_left {
  background: #00b050;
  color: black;
  text-align: center;
  border: 1px solid black;

  width: 90px;
  height: 60px;
  top: 210px;
  left: 510px;
  position: absolute;
  z-index: 1;

}

.block_large_right {
  background: #548dd4;
  color: white;
  border: 1px solid black;
  left: 850px;
  width: 150px;
  height: 250px;
  right: 410px;
  top: 20px;
  position: absolute;
  z-index: 0;
  padding: 5px;
  visibility: hidden;
}

.block_large_middle {
  background: #548dd4;
  color: white;
  border: 1px solid black;
  left: 650px;
  width: 150px;
  height: 250px;
  right: 410px;
  top: 20px;
  position: relative;
  z-index: 0;
  padding: 5px;
  visibility: hidden;

}


.block_small_left:hover ~ .block_large_middle {
  visibility: visible;
}

.block_small_middle:hover ~ .block_large_right {
  visibility: visible;
}
