li {
  cursor: pointer;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

h2 {
  box-sizing: border-box;
  margin: 0;
  min-height: 49px;
  font-size: 18px;
  padding: 10px;
  background: rgba(0, 0, 255, 0.71);
  color: white;
}

p {
  margin-left: 400px;
  width: 500px;
  border: 1px solid grey;
  padding: 10px;
}

.horizontal-navbar {
  position: sticky;
  top: 0px;
  z-index: 1;
  margin-left: 15%;
}

.horizontal-navbar > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #3d3d3d;
  overflow: hidden;
}

.horizontal-navbar ul li {
  float: left;
}

ul li.settings {
  float: right;
}

.horizontal-navbar ul li a {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.horizontal-navbar ul li a:hover {
  background-color: green;

}

.horizontal-navbar ul li a:active {
  background-color: green;
  border-radius: 100px;
}

.vertical-navbar {
  position: fixed;
  left: 0;
  width: 15%;
  height: 100%;
  background: #3d3d3d;
}

.vertical-navbar ul {
  margin: 0;
  padding: 0;
}

.vertical-navbar a {
  color: white;
  text-decoration: none;
}

.vertical-navbar li {
  background: rgba(0, 0, 255, 0.71);
  list-style-type: none;
  font-size: 16px;
  padding: 5px;
  border-top: 1px solid rgba(116, 116, 255, 0.71);

}

.vertical-navbar img {
  margin-right: 10px;
}

.vertical-navbar li,
.vertical-navbar img {
  vertical-align: middle;
}

.vertical-navbar ul ul {
  display: none;
  margin-right: 5px;
}

.vertical-navbar li:hover > ul {
  display: block;
}

.vertical-navbar ul ul li {
  background: rgba(116, 116, 250, 0.55);
  margin: 5px;
  border-radius: 8px;
  font-size: 11px;
  padding: 5px;
}

.vertical-navbar ul ul ul li {
  background: rgba(116, 116, 250, 0.77);
  font-size: 10px;
  border-radius: 6px;
}

.vertical-navbar .submenu-item:active {
  background: rgba(0, 0, 255, 0.71);
}

.home-submenu-item:active {
  background: rgba(0, 0, 255, 0.71);
}
