.block-form {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border: 20px solid #868686;
  width: 620px;
  padding: 0 20px 20px 20px;
  background: url(img/form-bg.jpg) no-repeat;
  margin: 0 auto;
}

label {
  color: white;
  font-size: 18px;
}

input, textarea {
  font-weight: 700;
  text-indent: 20px;
  border-radius: 10px;
  opacity: 0.6;
  font-size: 16px;
  border: none;
  border-bottom: 4px solid #00ffea00;
  transition: box-shadow 0.2s;
}

input {
  width: 250px;
  height: 30px;
  display: block;

}

textarea {
  width: 540px;
  height: 40px;
  padding: 5px;
  resize: none;
}

button {
  width: 130px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 50px;

}

.heading {
  display: inline-block;
  position: relative;
  margin: 20px 10px;
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
  color: #7d21b3;
}

.heading::first-letter {
  font-size: 50px;
  color: #ff01e4;
}

.form-header {
  text-align: center;
  position: relative;
}

.heading::before,
.heading::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 150px;
  height: 3px;
  background: red;
}

.heading::before {
  left: -170px;
}

.heading::after {
  right: -170px;
}

.bottom-line {
  position: absolute;
  top: 100%;
  left: 20%;
  width: 350px;
  height: 3px;
  background: red;
}

.hidden-heading,
.form-header:hover > .main-heading,
.form-header:hover > .heading::before,
.form-header:hover > .heading::after {
  display: none;
}

.form-header:hover > .hidden-heading {
  display: inline-block;
}

.form-header:hover > .bottom-line {
  background: #0ef334;
  width: 400px;
  left: 13%;
}


.fields {
  margin-top: 20px;
}

.fields::after,
.buttons::after {
  display: block;
  content: ' ';
  clear: both;
}

input:hover {
  color: #fbff00;
}

input:focus {
  color: #ffa600;
}

.password:focus {
  color: #00ffea;
}


textarea:hover {
  box-shadow: 10px 10px rgba(233, 27, 154, 0.6);
}

textarea::first-line {
  color: red;
}


.btn-reset {
  border: 3px solid #e64a19;
  color: #e64a19
}

.btn-reset:hover {
  border: 3px solid #e64a19;
  color: white;
  background: #e64a19;
  border-radius: 15px;
}

.btn-reset:active {
  border: 3px solid #ecfd00;
  background: #a02904;
  border-radius: 25px;
  position: relative;
}

.btn-submit {
  border: 3px solid #0097a7;
  color: #0097a7
}

.btn-submit:hover {
  border: 3px solid #0097a7;
  color: white;
  background: #0097a7;
  border-radius: 15px;
}

.btn-submit:active {
  border: 3px solid #ecfd00;
  background: #014950;
  border-radius: 25px;
  position: relative;
}

.btn-submit::after {
  content: url(img/check-mark.png);

  position: absolute;
  right: 10px;
  top: 13%;
  opacity: 0;
}

.btn-submit:active::after {
  opacity: 1;
}

.login,
.password-block,
.first-name {
  float: left;
}

.email,
.repeat-password-block,
.last-name {
  float: right;
}



