p.text-background span {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

div .text-background span {
    background-color: yellow;
}

span span {
    background-color: #6a6a6a;
    text-decoration: line-through;
}

ol span span {
    font-size: 18px;
    text-transform: uppercase;
}

section > p {
    text-indent: 50px;
    text-shadow: 3px 3px 5px orange;
}

li > ul {
    list-style-image: url(li.svg);
}

div > p.text-background {
    word-spacing: 50px;
}

div.bold > section > p {
    font-weight: bold;
}

img + p {
    background-color: brown;
}

section ~ p {
    color: red;
}